.full-height-map {
    height: 100vh;
}

.custom-search-input {
    width: 280px;
    border-radius: 12px;
    padding: 0.6rem 1rem;
    border: 2px solid #016045;
    font-weight: 500;
    color: #016045;
    box-shadow: none;
    box-shadow: 0px 4px 12px rgba(0, 69, 49, 0.25);

}
.custom-search-input:focus {
    border: 2px solid #016045;
    box-shadow: 0px 4px 12px rgba(0, 69, 49, 0.25);
}
.map-container {
    background: #FFFDFD;
    box-shadow: 0px 4px 12px rgba(0, 69, 49, 0.25);
    border-radius: 20px;
    width: 100%;
    max-height: 100%;
}

.map-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

#map path:nth-child(odd) {
    stroke: #aaa;
    fill: rgba(0, 0, 0, 0)
}
#map path:nth-child(even) {
    stroke: #aaa;
        fill: rgba(0, 0, 0, 0)
}