<!-- Consumptions Section -->
<div class=" py-4">
    <h2 class="general-title">
        Dashboard
    </h2>

    <ul class="nav nav-tabs mb-3" id="tabList">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#general">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#specific">CO2 Producido</a>
        </li>
    </ul>
    <div class="tab-content px-4" id="tabContent">
        <div class="tab-pane fade show active" id="general">
            <div id="main-chart" class="mx-auto" style="max-width: 1000px"></div>
        </div>
        <div class="tab-pane fade" id="specific">
            <div id="time-buttons" class="d-none d-md-block">
                <button class="btn kz-button-create" id="one-month">1M</button>
                <button class="btn kz-button-create" id="three-months">3M</button>
                <button class="btn kz-button-create" id="six-months">6M</button>
                <button class="btn kz-button-create" id="one-year">1Y</button>
                <button class="btn kz-button-create" id="all">ALL</button>
            </div>
            <div id="consumptions-selection">
            </div>
            <div id="consumption-chart">
            </div>;
        </div>
    </div>
</div>