<div class="container-fluid p-4 full-height-map d-flex flex-column justify-content-start">
    <h2 class="general-title">Mapa de CO₂</h2>

    <div class="d-flex flex-wrap justify-content-center align-items-center gap-3 mb-3">
        <input type="text" class="form-control custom-search-input" placeholder="El Salvador">
        <button class="kz-button-create">Buscar</button>
    </div>

    <div class="advanced-filters-container map-container mx-auto flex-grow-1 d-flex align-items-center justify-content-center">
        <img src="https://static.vecteezy.com/system/resources/previews/002/549/177/non_2x/doodle-map-of-el-salvador-with-states-free-vector.jpg"
            alt="Mapa de El Salvador" class="map-img img-fluid">
    </div>
</div>
